@use '../../base/mixins' as m;
@use '../../base/variables' as v;

.meeti {

    &__texto {
        text-align: center;
    }

    &__grid {
        @include m.tablet { 
            @include m.grid(3, 3rem);
        }
    }

    &__imagen {
        grid-column: 1/3;
    }
    &__informacion {
        grid-column: 3/4;
    }

    &__descripcion {
        grid-column: 1/3;
    }

}

